:root {
  --font-color: #000000;
  --header-color: #000000;
  --subheader-color: #363636;
  --button-color: #000000;
  --bg-color: #F6E8EA;
  --success-color: #005700;
}

[data-theme="dark"] {
  --font-color: #FFFFFF;
  --header-color: #FFFFFF;
  --subheader-color: #E0E0E0; /* WCAG contrast checker score 8.05:1 (läpäisee just ja just kaikki) */ 
  --button-color: #FFFFFF;
  --bg-color: #063A89;
  --success-color: #00FF00;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}


* {
  box-sizing: border-box;
  font-family: 'Noto Sans';
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}


/* NAV */
.nav {
  display: flex;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 15%;
  padding-right: 5%;
  border-bottom: 2px solid var(--font-color); /* Tähän voinee keksiä jotain muuta kuin font-colorin käytön joskus */ 
}

.nav-right {
  margin-left: auto;
}

.nav ul {
  list-style: none;
  padding-left: 0;
}

.nav a {
  text-decoration: none;
  font-size: 25px;
}

/* HERO */
.hero {
  display: flex;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}

.hero-text {
  text-align: left;
  width: 50%;
  padding-top: 5%;
  padding-right: 2%;
}

.hero-header {
  text-align: center;
  font-size: 36px;
  margin-bottom: 0%;
  color: var(--header-color)
}

.hero-subheader {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10%;
  color: var(--subheader-color)
}

.hero-introtext {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: var(--font-color)
}

.hero a {
  color: var(--font-color);
}

.hero-pic {
  width: 50%;
  animation-name: fade-in;
  animation-duration: 4s;
}


/* TIMELINE */
.experience-container {
  display: flex;
  padding-left: 20%;
  padding-bottom: 5%;
}

.timeline-container h2 {
  font-size: 32px;
  color: var(--header-color)
}

.timeline-list {
  margin: 1.5em 0;
  padding: 0;
  display: inline-block;
}

.timeline-list-item {
  list-style: none;
  margin: auto;
  margin-left: 2%;
  /* adjusts the timeline to the center of the page */
  min-height: 50px;
  max-width: 950px;
  border-left: 2px inset var(--font-color); /* Samaten tänne font-colorin sijaan jotain muuta? */
  padding: 0 0 50px 30px;
  position: relative;
  color: var(--font-color)
}

.timeline-list-item .item-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--font-color)
}

.timeline-list-item::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid var(--font-color); /* Tästä ei puhuta */ 
  border-radius: 50%;
  background: var(--font-color); /* Samaten tänne keksiä variable värille */
  height: 20px;
  width: 20px;
}

.timeline-list-item .timestamp {
  color: var(--font-color);
  font-size: 20px;
}

.timeline-list-item .skills-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: -10px;
  list-style-type: none;
}

.timeline-list-item .skills-list .skill-item {
  background-color: var(--button-color)!important;
  color: var(--bg-color); /* Toinen melko hakkerivalinta */ 
  padding: 5px 10px;
  border-radius: 5%;
  margin: 5px;
}


.timeline-list-item:last-child {
  border-left: 0;
}




/* SKILLS */
.skills-section h2 {
  font-size: 32px;
  padding-left: 20%; /* Sama taso aikaisemman headerin kanssa, erillään skillsseistä, jotta ne saa tiiviimmin */
  color: var(--header-color)
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 20px;
  padding-bottom: 5%;
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--font-color);
  font-size: 14px;
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
}

.skill-box i {
  font-size: 60px;
  margin-bottom: 5px;
}

.skill-box span {
  font-size: 18px;
  color: var(--font-color)
}




/* Contact  */
.form-container h2 {
  padding-left: 20%;
  font-size: 32px;
  padding-top: 5%;
  color: var(--header-color);
}

form {
  max-width: 800px;
  margin: 50px auto;
  text-align: center; /* Laittaa subimt buttonin keskelle */ 
}

form ::placeholder {
  color: var(--subheader-color);
}

.feedback-input {
  font-family: 'Noto Sans';
  font-size: 18px;
  border: 2px solid var(--font-color);
  padding: 10px;
  border-radius: 1%;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  color: var(--font-color);
}

textarea {
  height: 200px;
  resize: vertical;
}

.form-container .submit-button {
  font-family: 'Noto Sans';
  max-width: 500px;
  width: 100%;
  cursor: pointer;
  color: var(--bg-color);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -4px;
  font-weight: bold;
  background-color: var(--font-color) !important;
  border-radius: 15px;
  transition: background-color 0.3s;
}

 .form-container .submit-button:hover {
  background-color: var(--subheader-color) !important;
} 

.form-container .submit-button:active {
  background-color: var(--success-color) !important;
}

.error-message {
  color: var(--font-color);
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.success-message {
  color: var(--success-color);
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}


/* Footer */
.footer {
  text-align: center;
  border-top: 2px solid var(--font-color);
  padding: 10px;
}

.footer-text {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--font-color);
}

.footer-icons {
  display: flex;
  justify-content: center;
  font-size: 40px;
  gap: 1%;
}

.footer-icons a {
  /* poistaa twitter/linkedin/github iconien alaviivan */
  text-decoration: none !important;
}

.footer-link {
  color: var(--subheader-color);
}

.footer-link:hover {
  color: var(--font-color);
  cursor: pointer;
  text-decoration: none;
}






























/* MEDIA */
@media (max-width: 1150px) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }

  .hero-text {
    text-align: center;
    width: 100%;
    padding: 1% 1%;
    margin-bottom: 3%;
  }

  .hero-subheader,
  .hero-header {
    text-align: center;
    margin-bottom: 1%;
  }

  .hero-pic {
    width: 65%;
  }

  .timeline-list-item {
    margin-left: 0%;
    /* adjusts the timeline to the center of the page */
  }

  .experience-container {
    padding-left: 5%;
    padding-top: 0%;
  }

  .skills-section h2 {
    padding-left: 5%;
    /* Sama taso aikaisemman headerin kanssa, erillään skillsseistä, jotta ne saa tiiviimmin */
  }

  .skills-grid {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
  }

  /* Contact  */
  .form-container h2 {
    padding-left: 5%;
  }

}








@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    text-align: center;
    width: 100%;
    padding: 3% 3%;
    margin-bottom: 5%;
  }

  .hero-subheader,
  .hero-header {
    text-align: center;
    margin-bottom: 5%;
  }

  .hero-header {
    font-size: 25px;
  }


  .hero-subheader {
    font-size: 22px;
  }


  .hero-pic {
    width: 100%;
  }


  .timeline-list-item {
    margin-left: 0%;
    /* adjusts the timeline to the center of the page */
  }

  .experience-container {
    padding-left: 5%;
    padding-right: 2%;
  }

  .experience-container h2 {
    text-align: center;
  }

  .experience-container {
    padding-left: 5%;
    padding-top: 0%;
  }







  .skills-section h2 {
    text-align: center;
    padding-left: 0%;
  }

  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
  }



  .form-container h2 {
    text-align: center;
    padding-left: 0%;
  }

  .feedback-input {
    width: 90%;
  }

  .form-container .submit-button {
    width: 90%;
    text-align: center;
  }

  .form-container {
    text-align: center;
  }
}